* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    position: relative;
    background: url(../images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.521);
    z-index: -1;
}

.poster {
    width: 900px;
    height: 950px;
    display: flex;
    position: relative;
    margin: 0 auto;
    z-index: 2;
}

#header {
    width: 800px;
    height: 100px;
    display: flex;
    margin: 0 auto;
    z-index: 5;
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -3%);
    justify-content: center;
    align-items: center;
}

.title {
    font-family: 'Wild West Shadow', sans-serif;
    font-size: 55px;
    color: rgb(48, 35, 12);
}

#maze {
    width: 700px;
    height: 700px;
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -80%);
    z-index: 3;
}

#maze canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.menu {
    width: 300px;
    position: absolute;
    z-index: 10;
    display: flex;
    top: 50%;
    left: 50%;
}

.button {
    position: absolute;
    z-index: 100;
    display: flex;
    top: 50%;
    left: 10%;
    transform: translate(-50%, 10%);
}